# ------ # Naming Convention # ------ #
# snake_case:                         #
# - namespaces                        #
# - file names                        #
# - folder names                      #
# - local variables                   #
# - class variables                   #
# - struct variables                  #
# - function parameters               #
# ----------------------------------- #
# PascalCase:                         #
# - Enums                             #
# - Classes                           #
# - Structs                           #
# - Typedefs                          #
# - Functions                         #
# ----------------------------------- #
---
Language: Cpp
Standard: c++20
BasedOnStyle: LLVM

# Layout
ColumnLimit: 160
IndentWidth: 4
PenaltyBreakAssignment: 2048
UseTab: Never

# Short Blocks
AllowShortBlocksOnASingleLine: Never
AllowShortFunctionsOnASingleLine: None
AllowShortIfStatementsOnASingleLine: WithoutElse
AllowShortLoopsOnASingleLine: false
AllowShortLambdasOnASingleLine: None
AllowShortCaseLabelsOnASingleLine: true

# Braces Formatting
BreakBeforeBraces: Custom
BraceWrapping:
  AfterClass: false
  AfterControlStatement: Never
  AfterEnum: false
  AfterFunction: false
  AfterNamespace: false
  AfterStruct: false
  BeforeElse: false
  BeforeWhile: false
  SplitEmptyFunction: true
  SplitEmptyRecord: true
  SplitEmptyNamespace: true

# Alignment
PointerAlignment: Left
DerivePointerAlignment: false
AlignAfterOpenBracket: BlockIndent
AlignConsecutiveAssignments: false
AlignConsecutiveDeclarations: false

# Spaces
SpaceAfterCStyleCast: false
SpaceBeforeAssignmentOperators: true
SpaceBeforeParens: ControlStatements
SpaceInEmptyParentheses: false

# Includes
SortIncludes: true
IncludeBlocks: Regroup

# Misc
AllowAllParametersOfDeclarationOnNextLine: false
Cpp11BracedListStyle: true
SpaceBeforeCpp11BracedList: true
BinPackParameters: false
AlwaysBreakTemplateDeclarations: Yes
IndentCaseLabels: true
NamespaceIndentation: All
AlignOperands: Align
BreakBeforeBinaryOperators: None
AlwaysBreakAfterReturnType: None
PenaltyReturnTypeOnItsOwnLine: 1000
