---
BasedOnStyle: LLVM
ColumnLimit: 0
IndentWidth: 4
AllowAllParametersOfDeclarationOnNextLine: false
BinPackParameters: true
AlignAfterOpenBracket: DontAlign
BreakBeforeBraces: Custom
BraceWrapping:
  AfterFunction: false
  AfterControlStatement: Never
  BeforeElse: true
AllowShortIfStatementsOnASingleLine: Never
PointerAlignment: Left
Cpp11BracedListStyle: false
